<div>
    <h2 id="page-heading">
        <span jhiTranslate="susaludApp.maestraverificador.home.title">Maestraverificadors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-maestraverificador" [routerLink]="['/maestraverificador/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="susaludApp.maestraverificador.home.createLabel">
            Create a new Maestraverificador
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="maestraverificadors?.length === 0">
        <span jhiTranslate="susaludApp.maestraverificador.home.notFound">No maestraverificadors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="maestraverificadors && maestraverificadors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="susaludApp.maestraverificador.idMaestraverificador">Id Maestraverificador</span></th>
                    <th scope="col" ><span jhiTranslate="susaludApp.maestraverificador.mvFecha">Mv Fecha</span></th>
                    <th scope="col" ><span jhiTranslate="susaludApp.maestraverificador.mvFechaModificacion">Mv Fecha Modificacion</span></th>
                    <th scope="col" ><span jhiTranslate="susaludApp.maestraverificador.idVerificador">Id Verificador</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let maestraverificador of maestraverificadors ;trackBy: trackId">
                    <td><a [routerLink]="['/maestraverificador', maestraverificador.id, 'view']">{{ maestraverificador.id }}</a></td>
                    <td>{{ maestraverificador.idMaestraverificador }}</td>
                    <td>{{ maestraverificador.mvFecha | date:'mediumDate' }}</td>
                    <td>{{ maestraverificador.mvFechaModificacion | date:'mediumDate' }}</td>
                    <td>{{ maestraverificador.idVerificador }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/maestraverificador', maestraverificador.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/maestraverificador', maestraverificador.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(maestraverificador)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
