<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-proceso-heading">Create or edit a Proceso</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_idProceso">Id Proceso</label>
                    <input type="number" class="form-control" name="idProceso" id="field_idProceso"
                           formControlName="idProceso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_prDescripcion">Pr Descripcion</label>
                    <input type="text" class="form-control" name="prDescripcion" id="field_prDescripcion"
                           formControlName="prDescripcion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_macroprocesoIdMacroproseso">Macroproceso Id Macroproseso</label>
                    <input type="number" class="form-control" name="macroprocesoIdMacroproseso" id="field_macroprocesoIdMacroproseso"
                           formControlName="macroprocesoIdMacroproseso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_macroprocesoVerificadorIdVerificador">Macroproceso Verificador Id Verificador</label>
                    <input type="number" class="form-control" name="macroprocesoVerificadorIdVerificador" id="field_macroprocesoVerificadorIdVerificador"
                           formControlName="macroprocesoVerificadorIdVerificador"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_macroProceso">Macro Proceso</label>
                    <select class="form-control" id="field_macroProceso" name="macroProceso" formControlName="macroProceso">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="macroProcesoOption.id === editForm.get('macroProceso')!.value?.id ? editForm.get('macroProceso')!.value : macroProcesoOption" *ngFor="let macroProcesoOption of macroprocesos; trackBy: trackById">{{ macroProcesoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
