<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proceso">
            <h2><span>Proceso</span> {{ proceso.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Id Proceso</span></dt>
                <dd>
                    <span>{{ proceso.idProceso }}</span>
                </dd>
                <dt><span>Pr Descripcion</span></dt>
                <dd>
                    <span>{{ proceso.prDescripcion }}</span>
                </dd>
                <dt><span>Macroproceso Id Macroproseso</span></dt>
                <dd>
                    <span>{{ proceso.macroprocesoIdMacroproseso }}</span>
                </dd>
                <dt><span>Macroproceso Verificador Id Verificador</span></dt>
                <dd>
                    <span>{{ proceso.macroprocesoVerificadorIdVerificador }}</span>
                </dd>
                <dt><span>Macro Proceso</span></dt>
                <dd>
                    <div *ngIf="proceso.macroProceso">
                        <a [routerLink]="['/macro-proceso', proceso.macroProceso?.id, 'view']">{{ proceso.macroProceso?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proceso', proceso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
