<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subproceso">
            <h2><span jhiTranslate="proyectoApp.subproceso.detail.title">Subproceso</span> {{ subproceso.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="proyectoApp.subproceso.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{ subproceso.descripcion }}</span>
                </dd>
                <dt><span jhiTranslate="proyectoApp.subproceso.proceso">Proceso</span></dt>
                <dd>
                    <div *ngIf="subproceso.proceso">
                        <a [routerLink]="['/proceso', subproceso.proceso?.id, 'view']">{{ subproceso.proceso?.descripcion }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subproceso', subproceso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
