<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estado">
            <h2><span jhiTranslate="susaludApp.estado.detail.title">Estado</span> {{ estado.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="susaludApp.estado.idEstado">Id Estado</span></dt>
                <dd>
                    <span>{{ estado.idEstado }}</span>
                </dd>
                <dt><span jhiTranslate="susaludApp.estado.eEstado">E Estado</span></dt>
                <dd>
                    <span>{{ estado.eEstado }}</span>
                </dd>
                <dt><span jhiTranslate="susaludApp.estado.idVerificador">Id Verificador</span></dt>
                <dd>
                    <span>{{ estado.idVerificador }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estado', estado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
