<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="verificador">
            <h2><span jhiTranslate="susaludApp.verificador.detail.title">Verificador</span> {{ verificador.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="susaludApp.verificador.idVerificador">Id Verificador</span></dt>
                <dd>
                    <span>{{ verificador.idVerificador }}</span>
                </dd>
                <dt><span jhiTranslate="susaludApp.verificador.v1FechaCreacion">V 1 Fecha Creacion</span></dt>
                <dd>
                    <span>{{ verificador.v1FechaCreacion }}</span>
                </dd>
                <dt><span jhiTranslate="susaludApp.verificador.v1FechaModificacion">V 1 Fecha Modificacion</span></dt>
                <dd>
                    <span>{{ verificador.v1FechaModificacion }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/verificador', verificador.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
