<div>
    <h2 id="page-heading">
        <span>Macro Procesos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-macro-proceso" [routerLink]="['/macro-proceso/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Macro Proceso
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="macroProcesos?.length === 0">
        <span>No macroProcesos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="macroProcesos && macroProcesos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Id Macroproceso</span></th>
                    <th scope="col" ><span>Ma Fecha Creacion</span></th>
                    <th scope="col" ><span>Verificador Id Ferificador</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let macroProceso of macroProcesos ;trackBy: trackId">
                    <td><a [routerLink]="['/macro-proceso', macroProceso.id, 'view']">{{ macroProceso.id }}</a></td>
                    <td>{{ macroProceso.idMacroproceso }}</td>
                    <td>{{ macroProceso.maFechaCreacion }}</td>
                    <td>{{ macroProceso.verificadorIdFerificador }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/macro-proceso', macroProceso.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/macro-proceso', macroProceso.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(macroProceso)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
