<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-macro-proceso-heading">Create or edit a Macro Proceso</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_idMacroproceso">Id Macroproceso</label>
                    <input type="number" class="form-control" name="idMacroproceso" id="field_idMacroproceso"
                           formControlName="idMacroproceso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_maFechaCreacion">Ma Fecha Creacion</label>
                    <input type="text" class="form-control" name="maFechaCreacion" id="field_maFechaCreacion"
                           formControlName="maFechaCreacion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verificadorIdFerificador">Verificador Id Ferificador</label>
                    <input type="number" class="form-control" name="verificadorIdFerificador" id="field_verificadorIdFerificador"
                           formControlName="verificadorIdFerificador"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
