<div>
    <h2 id="page-heading">
        <span jhiTranslate="proyectoApp.verificador.home.title">Verificadors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-verificador" [routerLink]="['/verificador/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="proyectoApp.verificador.home.createLabel">
            Create a new Verificador
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="verificadors?.length === 0">
        <span jhiTranslate="proyectoApp.verificador.home.notFound">No verificadors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="verificadors && verificadors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="proyectoApp.verificador.codigo">Codigo</span></th>
                    <th scope="col" ><span jhiTranslate="proyectoApp.verificador.descripcion">Descripcion</span></th>
                    <th scope="col" ><span jhiTranslate="proyectoApp.verificador.estado">Estado</span></th>
                    <th scope="col" ><span jhiTranslate="proyectoApp.verificador.macroproceso">Macroproceso</span></th>
                    <th scope="col" ><span jhiTranslate="proyectoApp.verificador.proceso">Proceso</span></th>
                    <th scope="col" ><span jhiTranslate="proyectoApp.verificador.subproceso">Subproceso</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let verificador of verificadors ;trackBy: trackId">
                    <td><a [routerLink]="['/verificador', verificador.id, 'view']">{{ verificador.id }}</a></td>
                    <td>{{ verificador.codigo }}</td>
                    <td>{{ verificador.descripcion }}</td>
                    <td>{{ verificador.estado }}</td>
                    <td>
                        <div *ngIf="verificador.macroproceso">
                            <a [routerLink]="['/macroproceso', verificador.macroproceso?.id, 'view']" >{{ verificador.macroproceso?.descripcion }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="verificador.proceso">
                            <a [routerLink]="['/proceso', verificador.proceso?.id, 'view']" >{{ verificador.proceso?.descripcion }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="verificador.subproceso">
                            <a [routerLink]="['/subproceso', verificador.subproceso?.id, 'view']" >{{ verificador.subproceso?.descripcion }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/verificador', verificador.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/verificador', verificador.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(verificador)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
