<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-verificador-heading" jhiTranslate="proyectoApp.verificador.home.createOrEditLabel">Create or edit a Verificador</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoApp.verificador.codigo" for="field_codigo">Codigo</label>
                    <input type="number" class="form-control" name="codigo" id="field_codigo"
                           formControlName="codigo"/>
                    <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('codigo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoApp.verificador.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                    <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoApp.verificador.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                    <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoApp.verificador.macroproceso" for="field_macroproceso">Macroproceso</label>
                    <select class="form-control" id="field_macroproceso" name="macroproceso" formControlName="macroproceso">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="macroprocesoOption.id === editForm.get('macroproceso')!.value?.id ? editForm.get('macroproceso')!.value : macroprocesoOption" *ngFor="let macroprocesoOption of macroprocesos; trackBy: trackById">{{ macroprocesoOption.descripcion }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoApp.verificador.proceso" for="field_proceso">Proceso</label>
                    <select class="form-control" id="field_proceso" name="proceso" formControlName="proceso">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="procesoOption.id === editForm.get('proceso')!.value?.id ? editForm.get('proceso')!.value : procesoOption" *ngFor="let procesoOption of procesos; trackBy: trackById">{{ procesoOption.descripcion }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proyectoApp.verificador.subproceso" for="field_subproceso">Subproceso</label>
                    <select class="form-control" id="field_subproceso" name="subproceso" formControlName="subproceso">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subprocesoOption.id === editForm.get('subproceso')!.value?.id ? editForm.get('subproceso')!.value : subprocesoOption" *ngFor="let subprocesoOption of subprocesos; trackBy: trackById">{{ subprocesoOption.descripcion }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
